@font-face {
  font-family: "iconfont"; /* Project id 2270424 */
  src: url('iconfont.woff2?t=1640845915531') format('woff2'),
       url('iconfont.woff?t=1640845915531') format('woff'),
       url('iconfont.ttf?t=1640845915531') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconzirenwu:before {
  content: "\e666";
}

.iconcommit:before {
  content: "\e6d32";
}

.iconcommit-disabled:before {
  content: "\e90e";
}

.iconshujujicheng:before {
  content: "\e9d4";
}

.iconbigdata_wjj:before {
  content: "\e660";
}

.iconPostgreSQL1:before {
  content: "\e72f";
}

.iconmy-SQL:before {
  content: "\e90d";
}

.iconyasuo:before {
  content: "\e6d8";
}

.iconjiesuo-kai:before {
  content: "\e6d7";
}

.iconyingshe:before {
  content: "\e6d5";
}

.icondenghao:before {
  content: "\e6d3";
}

.iconzidianyingshe:before {
  content: "\e6ff";
}

.iconcopy:before {
  content: "\e623";
}

.iconsangedian:before {
  content: "\e932";
}

.iconchuangjianbuchongxieyi:before {
  content: "\ea62";
}

.iconzuzhiguanli-fill:before {
  content: "\e9b0";
}

.icontuopu:before {
  content: "\e605";
}

.iconfabu:before {
  content: "\e600";
}

.icontiaodupeizhi1:before {
  content: "\e6d4";
}

.iconquanjupeizhi:before {
  content: "\e6d6";
}

.icontingzhi:before {
  content: "\e66a";
}

.iconcaidan:before {
  content: "\e63a";
}

.iconyunxingzhong:before {
  content: "\e633";
}

.iconarrow-up-full:before {
  content: "\ea68";
}

.iconchangjiantou-shang-fill:before {
  content: "\e9a6";
}

.iconchangjiantou-xia-fill:before {
  content: "\e9a7";
}

.iconjiantou1:before {
  content: "\e60b";
}

.iconhq-line:before {
  content: "\e704";
}

.iconsharpicons_Shell:before {
  content: "\e78d";
}

.iconSparkSQL:before {
  content: "\e792";
}

.iconpython:before {
  content: "\e70f";
}

.iconchangjiantou-xia:before {
  content: "\e8d1";
}

.iconchangjiantou-shang:before {
  content: "\e8d3";
}

.iconxiajiantou:before {
  content: "\e881";
}

.iconyoujiantou:before {
  content: "\e8be";
}

.icondiannao:before {
  content: "\e624";
}

.iconkaifa:before {
  content: "\e7a0";
}

.iconsuo-guan-fill:before {
  content: "\e787";
}

.iconsuo-guan:before {
  content: "\e6fc";
}

.iconshuaxin:before {
  content: "\e73c";
}

.iconkongxiangzi:before {
  content: "\e903";
}

.iconlajitong:before {
  content: "\e941";
}

.iconround-user-new-copy:before {
  content: "\e942";
}

.iconround-user-new-blue:before {
  content: "\e6ce";
}

.iconshuju-2:before {
  content: "\e6d0";
}

.iconglodon-tongji:before {
  content: "\e6d11";
}

.iconmiaoshu:before {
  content: "\e6d31";
}

.iconshijian:before {
  content: "\e6d2";
}

.iconwendang:before {
  content: "\e6d9";
}

.iconduihao:before {
  content: "\e86a";
}

